<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExampleInSimApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ExampleInSimApp.Properties.Settings>
            <setting name="HostAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="InSimPort" serializeAs="String">
                <value>29999</value>
            </setting>
            <setting name="AdminPass" serializeAs="String">
                <value />
            </setting>
        </ExampleInSimApp.Properties.Settings>
    </userSettings>
</configuration>